@(matches: List[utils.Match])

@import utils.Match
@import com.github.nscala_time.time.Imports._

@main("Welcome to Play") {
	<h1>Matches info:</h1>
	<ul>
		@matches.map { x =>
			<li>ID: <a href = "/findMatch/@{x.id}">@{x.id}</a> Sequence number: @{x.seq} Time: @{DateTimeFormat.forPattern("HH:mm:ss, dd MMMM yyyy").print(x.time)}</li> 
		}
	</ul>
   

}
